<%- include('homeHeader'); -%>
        <!-- Page Header-->
        <header class="masthead" style="background-image: url('/assets/img/home-bg.jpg')">
            <div class="container position-relative px-4 px-lg-5">
                <div class="row gx-4 gx-lg-5 justify-content-center">
                    <div class="col-md-10 col-lg-8 col-xl-7">
                        <div class="site-heading">
                            <h1>Hey Bloggers</h1>
                            <span class="subheading">Write Your Blogs Here...</span>
                        </div>
                    </div>
                </div>
            </div>
        </header>
        <!-- Main Content-->
        <div class="container px-4 px-lg-5">
            <div class="row gx-4 gx-lg-5 justify-content-center">
                <div class="col-md-10 col-lg-8 col-xl-7">
                    <!-- Post preview-->
                    <% postList.forEach(function(post){ %>
                    <div class="post-preview">
                        <a href="/home/posts/<%= post._id %>"><h2 class="post-title"><%= post.title %></h2>
                        <h3 class="post-subtitle"><%- post.content.substring(0,100) -%></h3>
                        </a>
                        <p class="post-meta">
                            Posted by
                            <a href="https://<%= post.email %>"><%= post.name %></a>
                            <%= post.createdAt.toLocaleDateString("en-US", {day: "numeric",month: "long",year: "numeric"}) %>
                        </p>
                    </div>
                    <% }); %>
                    <!-- Divider-->
                        <hr class="my-4" />
                    <!-- Pager-->
                    <div class="d-flex justify-content-end mb-4"><a class="btn btn-primary text-uppercase" href="/compose">Compose More →</a></div>
                </div>
            </div>
        </div>
        <!-- <button type="button" class="btn btn-dark btn-floating"><a class="aa" href = "/compose">Compose</a></button> -->
<%- include('footer') -%>