<%- include('header'); -%>
        <header class="masthead" style="background-image: url('/assets/img/post-bg.jpg')">
            <div class="container position-relative px-4 px-lg-5">
                <div class="row gx-4 gx-lg-5 justify-content-center">
                    <div class="col-md-10 col-lg-8 col-xl-7">
                        <div class="post-heading">
                            <h1><%= title %></h1>
                            <!-- <h2 class="subheading">Problems look mighty small from 150 miles up</h2> -->
                            <span class="meta">
                                Posted by
                                <a href="#!"><%= user.name %></a>
                                on <%= date.toLocaleDateString("en-US", {day: "numeric",month: "long",year: "numeric"}) %>
                            </span>
                        </div>
                    </div>
                </div>
            </div>
        </header>
        <!-- Post Content-->
        <article class="mb-4">
            <div class="container px-4 px-lg-5">
                <div class="row gx-4 gx-lg-5 justify-content-center">
                    <div class="col-md-10 col-lg-8 col-xl-7">
                        <p><%= content %></p>
                    </div>
                </div>
            </div>
        </article>
        <div class="container px-4 px-lg-5">
            <a href="/edit/<%= user.name %>/<%= id %>" name="edit">Edit</a> .
            <a href="/<%= id %>" name="edit">Delete</a> . 
            <a href="/next/<%= id %>" name="Next">Next</a>
        </div>
<%- include('footer') -%>
